<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-7 py-5">
      <h1>Food Dailyとは？？</h1>
      <p>本サイトは、食事に関する事柄などを記載し、投稿するアプリケーションです。</p>
      <p>摂取した食事などを投稿し、日々の生活習慣の改善に役立ててくれたら幸いです！</p>
      <p>ガタガタ言ってないで、筋トレして、食事制限して、引き締まった体で美女と遊べ！！！</p>
    </div>
    <div class="col-md-6 offset-md-4">
      <%= link_to "Go to Top page", root_path ,class:"btn btn-success" %>
    </div>
  </div>
</div>