// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  background-image: image-url('dinner.jpg');
  background-position: center;
}

.container-about{
  background-image: image-url('dinner.jpg');
  background-position: center;
}

.col-md-6{
  color: white;
}

.col-md-7{
  color: white;
}